.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.table {
  margin-top: 24px;
}

.action {
  display: flex;
  gap: 8px;
}

.memberDrawer {
  :global {
    .ant-drawer-header {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
